USE [SinematorDB]
GO
/****** Nesnesi: Table [dbo].[Biletler] Betik Tarihi: 3.06.2026 12:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Biletler](
	[BiletID] [int] IDENTITY(1,1) NOT NULL,
	[SeansID] [int] NULL,
	[MusteriID] [int] NULL,
	[KoltukNo] [int] NOT NULL,
	[SatisTarihi] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[BiletID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Filmler] Betik Tarihi: 3.06.2026 12:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Filmler](
	[FilmID] [int] IDENTITY(1,1) NOT NULL,
	[FilmAd] [nvarchar](100) NOT NULL,
	[Tur] [nvarchar](50) NULL,
	[Sure] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[FilmID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Musteriler] Betik Tarihi: 3.06.2026 12:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Musteriler](
	[MusteriID] [int] IDENTITY(1,1) NOT NULL,
	[Ad] [nvarchar](50) NOT NULL,
	[Soyad] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[MusteriID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Salonlar] Betik Tarihi: 3.06.2026 12:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salonlar](
	[SalonID] [int] IDENTITY(1,1) NOT NULL,
	[SalonAd] [nvarchar](50) NOT NULL,
	[Kapasite] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[SalonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Seanslar] Betik Tarihi: 3.06.2026 12:21:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seanslar](
	[SeansID] [int] IDENTITY(1,1) NOT NULL,
	[FilmID] [int] NULL,
	[SalonID] [int] NULL,
	[Tarih] [date] NOT NULL,
	[Saat] [time](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SeansID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Biletler] ON 

INSERT [dbo].[Biletler] ([BiletID], [SeansID], [MusteriID], [KoltukNo], [SatisTarihi]) VALUES (1, 1, 1, 10, CAST(N'2026-06-02T15:00:00.000' AS DateTime))
INSERT [dbo].[Biletler] ([BiletID], [SeansID], [MusteriID], [KoltukNo], [SatisTarihi]) VALUES (4, 2, 2, 15, CAST(N'2026-06-03T18:30:00.000' AS DateTime))
INSERT [dbo].[Biletler] ([BiletID], [SeansID], [MusteriID], [KoltukNo], [SatisTarihi]) VALUES (5, 3, 3, 16, CAST(N'2026-06-04T20:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Biletler] OFF
GO
SET IDENTITY_INSERT [dbo].[Filmler] ON 

INSERT [dbo].[Filmler] ([FilmID], [FilmAd], [Tur], [Sure]) VALUES (1, N'Düğün Dernek', N'Komedi', 2)
INSERT [dbo].[Filmler] ([FilmID], [FilmAd], [Tur], [Sure]) VALUES (2, N'Buz Devri 4: Kıtalar Ayrılıyor', N'Animasyon', 1)
INSERT [dbo].[Filmler] ([FilmID], [FilmAd], [Tur], [Sure]) VALUES (3, N'Iron Man', N'Bilim Kurgu', 2)
SET IDENTITY_INSERT [dbo].[Filmler] OFF
GO
SET IDENTITY_INSERT [dbo].[Musteriler] ON 

INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email]) VALUES (1, N'Elif', N'Habek', N'hasbekelif237@gmail.com')
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email]) VALUES (2, N'Meryem', N'Demir', N'merdem2558@gmail.com')
INSERT [dbo].[Musteriler] ([MusteriID], [Ad], [Soyad], [Email]) VALUES (3, N'Elif', N'Güngören', N'gungorenelif8@gmail.com')
SET IDENTITY_INSERT [dbo].[Musteriler] OFF
GO
SET IDENTITY_INSERT [dbo].[Salonlar] ON 

INSERT [dbo].[Salonlar] ([SalonID], [SalonAd], [Kapasite]) VALUES (1, N'Salon1', 20)
INSERT [dbo].[Salonlar] ([SalonID], [SalonAd], [Kapasite]) VALUES (2, N'Salon2', 25)
INSERT [dbo].[Salonlar] ([SalonID], [SalonAd], [Kapasite]) VALUES (3, N'Salon3', 30)
SET IDENTITY_INSERT [dbo].[Salonlar] OFF
GO
SET IDENTITY_INSERT [dbo].[Seanslar] ON 

INSERT [dbo].[Seanslar] ([SeansID], [FilmID], [SalonID], [Tarih], [Saat]) VALUES (1, 1, 2, CAST(N'2026-06-02' AS Date), CAST(N'15:00:00' AS Time))
INSERT [dbo].[Seanslar] ([SeansID], [FilmID], [SalonID], [Tarih], [Saat]) VALUES (2, 2, 1, CAST(N'2026-06-03' AS Date), CAST(N'18:30:00' AS Time))
INSERT [dbo].[Seanslar] ([SeansID], [FilmID], [SalonID], [Tarih], [Saat]) VALUES (3, 3, 3, CAST(N'2026-06-04' AS Date), CAST(N'20:00:00' AS Time))
SET IDENTITY_INSERT [dbo].[Seanslar] OFF
GO
ALTER TABLE [dbo].[Biletler] ADD  DEFAULT (getdate()) FOR [SatisTarihi]
GO
ALTER TABLE [dbo].[Salonlar] ADD  DEFAULT ((50)) FOR [Kapasite]
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD FOREIGN KEY([MusteriID])
REFERENCES [dbo].[Musteriler] ([MusteriID])
GO
ALTER TABLE [dbo].[Biletler]  WITH CHECK ADD FOREIGN KEY([SeansID])
REFERENCES [dbo].[Seanslar] ([SeansID])
GO
ALTER TABLE [dbo].[Seanslar]  WITH CHECK ADD FOREIGN KEY([FilmID])
REFERENCES [dbo].[Filmler] ([FilmID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Seanslar]  WITH CHECK ADD FOREIGN KEY([SalonID])
REFERENCES [dbo].[Salonlar] ([SalonID])
GO
